# Puerto en el que corre el servidor Express
PORT=3000

# Cadena de conexión a PostgreSQL
# formato: postgresql://usuario:password@host:puerto/nombre_bd?schema=public
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/cft_social_db?schema=public"

# Entorno de ejecución: development | production | test
NODE_ENV=development
